{% extends "layouts/page.njk" %}

{% block head %}
  <link rel="stylesheet" href="/css/lettres.css">
{% endblock %}

{% block body %}
<header class="site-header">
  <nav>
    <a href="/lettres/" class="site-title"><i>Lettres-aux-Phares</i></a>
    <ul class="nav-links">
      <li><a href="/home/">Home</a></li>
      <li><a href="/lettres/">Posts</a></li>
    </ul>
  </nav>
</header>

<main>
  {% block content %}
    {{ content | safe }}
  {% endblock %}
</main>

<footer class="site-footer">
  <p><i>Un phare ironique, infernal<br>
    Flambeau des grâces sataniques,<br>
    Soulagement et gloire uniques,<br>
    — La conscience dans le Mal!</i></p>
  <p class="footer-links"><a href="{{ site.socialMedia.twitter }}">Twitter</a> · <a href="{{ site.socialMedia.github }}">GitHub</a> · <a href="https://wavelab.neocities.org/">Website</a>
  </p>
</footer>
{% endblock %}


{% block scripts_extra %}
{% endblock %}