---
layout: page.njk
permalink: /index.html
css: "welcome.css"
script: "welcome.js"
---
{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="background-image" id="background-image">
    <div id="text-wrapper">
        <div class="title">
            <h1>{{ site.title }}</h1>
        </div>
        <div class="subtitle">
            <a class="typewrite" data-period="2000" data-type="{{ site.welcomeText | dump }}">
                <span class="wrap"></span>
            </a>
        </div>
        <a href="/home/" class="enter-button">ENTER</a>
    </div>
</div>
{% endblock %}